* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  margin: 0 auto;
  z-index: 100;
}

.App header {
  width: 100%;
  background: url(./images/food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App h1 {
  text-align: center;
  padding: 60px;
  font-size: 60px;
  color: #fff;
}
