* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  margin: 0 auto;
  max-width: 1250px;
}

.App h1 {
  text-align: center;
  padding: 100px;
  font-size: 40px;
}
