.RecipeInfo .numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.RecipeInfo .amount {
  opacity: 0.5;
}

.RecipeInfo .category {
  margin-top: 10px;
}

.RecipeInfo .category-info {
  text-transform: capitalize;
}
