.Results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px auto;
  max-width: 1300px;
  z-index: 100;
}

.Results .results-card {
  margin: 20px;
  padding: 30px;
  /* border: 1px solid #ddd; */
  border-radius: 7px;
  transition: 0.55s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.Results .results-card:hover {
  transform: translateY(-20px);
}

.Results h3 {
  max-width: 315px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 650px) {
  .Results {
    margin-top: 0px;
  }
}
