.Results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.Results .results-card {
  margin: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: 0.55s ease-in-out;
}

.Results .results-card:hover {
  transform: translateY(-20px);
}

.Results h3 {
  margin: 0;
  text-align: center;
}
